<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DLSSEnabler___Game_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DLSSEnabler___Game_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <DLSSEnabler___Game_Manager.Properties.Settings>
      <setting name="GoogleSheetsURI" serializeAs="String">
        <value>https://docs.google.com/spreadsheets/d/1qsvM0uRW-RgAYsOVprDWK2sjCqHnd_1teYAx00_TwUY/edit#gid=0</value>
      </setting>
      <setting name="DiscordURI" serializeAs="String">
        <value>https://discord.com/invite/2JDHx6kcXB</value>
      </setting>
      <setting name="NexusModsURI" serializeAs="String">
        <value>https://www.nexusmods.com/site/mods/757?tab=description</value>
      </setting>
      <setting name="BuyCoffeeURI" serializeAs="String">
        <value>https://buymeacoffee.com/a.r.t.u.r?t=true</value>
      </setting>
      <setting name="GithubURI" serializeAs="String">
        <value>https://github.com/Lordubuntu94/DLSSEnabler---Game-Manager</value>
      </setting>
    </DLSSEnabler___Game_Manager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DLSSEnabler___Game_Manager.Properties.Settings>
      <setting name="DLSSVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="ManuallyAddedGames" serializeAs="String">
        <value />
      </setting>
    </DLSSEnabler___Game_Manager.Properties.Settings>
  </userSettings>
</configuration>